/.venv/
/spectra/
/__pycache__/
/pyhammer/
/gleam/
/nestfit/
/templates/
/resources/
/simpaqs_l1_*/
PyHammerResults.csv
RejectSpectra.csv
spectralIndices.csv
temp_input_*.txt
sys
astropy
warnings
glob
data.csv
preProcess.csv
.DS_store
preProcess.csv
files.csv
run.spec
/build/
/dist/
/run.*/
preProcess.json
validation.json
files.json
