/.venv/
/spectra/
/spectra*/
/__pycache__/
/pyhammer/
/gleam/
/nestfit/
/templates/
/resources/
/simpaqs_l1_*/
temp_input_*.txt
sys
astropy
warnings
glob
.DS_store
run.spec
/build/
/dist/
/run.*/
*.json
*.csv
files
preProcess
validation
